<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
</head>
<body>
    <h1>Report</h1>
    <table border="1" cellpadding="10">
        <tr style="background:#fbfcae">
            <th colspan="5">section4</th>
        </tr>
        <tr style="background:#85eddf">
            <td style="text-align:center">Task number</td>
            <td style="text-align:center">Description</td>
            <td style="text-align:center">Status</td>
            <td style="text-align:center">Your configuration</td>
            <td style="text-align:center">Remediation</td>
        </tr>
        {% for item in report_data %}
        <tr>
            <td>
                {{ item["task_number"] }}
            </td>
            <td>
                {{ item["task_description"] }}
            </td>
            <td>
                {{ item["status"] }}
            </td>
            <td>{{ item["configuration"] | replace("\n","<br>") }}</td>
            <td>{{ item["remediation"] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>