<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Output</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1 style="text-align:center">CIS Benchmark Report</h1>	
    <br>	
    <h2 style="margin-left:15px"> Master node: '{{ "{{ ip_address }}" }}' </h2>	
    <h2 style="margin-left:15px"> Benchmark time: '{{ "{{ bench_time }}" }}' </h2>	
    <h2 style="margin-left:15px"> Score: {{ master_passed_tasks_count }}/{{ section1_tasks|length + section2_tasks|length + section3_tasks|length }} </h2>	
    <br>
    <div style="text-align:center;">
    <button type="button" class="submit" id="worker_result" style="padding:10px; margin:5px">Switch to worker result</button>
    <button type="button" class="submit" id="submit_task" style="padding:10px; margin:5px">Submit tasks</button>
    <button type="button" class="submit" id="submit_run" style="padding:10px; margin:5px">Run remediation</button>
    </div>
    <br>	
    <table border="1" cellpadding="10" style="margin-left:auto;margin-right:auto">
        <tr style="background:#fbfcae">
            <th colspan="5">{{ section1 }}</th>
        </tr>
        <tr style="background:#85eddf">
            <td style="text-align:center">Task number</td>
            <td style="text-align:center">Description</td>
            <td style="text-align:center">Task status</td>
            <td style="text-align:center">Your configuration</td>
            <td style="text-align:center">Hardening</td>
        </tr>
        {% for section1_task in section1_tasks %}
        <tr>
            <td>
                {{ section1_task["task_number"] }}
            </td>
            <td style="max-width:500px;word-wrap: break-word;">
                {{ section1_task["task_description"] }}
            </td>
            {% if section1_task["task_status"]=="PASSED" %}  
            <td style="background: #c0ebc6; text-align: center;">
            {% elif section1_task["task_status"]=="FAILED" %}
            <td style="background: #ebcfc0; text-align: center;">
             {% else %}
            <td style="background: #f6f7d2; text-align: center;">
            {% endif %}            
                {{ section1_task["task_status"] }}
            </td>
            <td style="max-width:400px; word-wrap: break-word;">{{ section1_task["configuration"] | replace("\n","<br>") }}</td>
            {% if section1_task["script"]=="Fix it" %} 	
            <td style="text-align:center">
            <button type="button" class="remediation" id={{ section1_task["task_number"] }} style="background:yellow;text-decoration:none;padding:10px;font-weight:bold">Fix it</button>
            </td>	
            {% else %}	
            <td>{{ section1_task["script"] }}</td>	
            {% endif %}   
        </tr>
        {% endfor %}
        <tr style="background:#fbfcae">
            <th colspan="5">{{ section2 }}</th>
        </tr>
        <tr style="background:#85eddf">
            <td style="text-align:center">Task number</td>
            <td style="text-align:center">Description</td>
            <td style="text-align:center">Task status</td>
            <td style="text-align:center">Your configuration</td>
            <td style="text-align:center">Hardening</td>
        </tr>
        {% for section2_task in section2_tasks %}
        <tr>
            <td>
                {{ section2_task["task_number"] }}
            </td>
            <td style="max-width:500px;word-wrap: break-word;">
                {{ section2_task["task_description"] }}
            </td>
            {% if section2_task["task_status"]=="PASSED" %}  
            <td style="background: #c0ebc6; text-align: center;">
            {% elif section2_task["task_status"]=="FAILED" %}
            <td style="background: #ebcfc0; text-align: center;">
             {% else %}
            <td style="background: #f6f7d2; text-align: center;">
            {% endif %}    
                {{ section2_task["task_status"] }}
            </td>
            <td style="max-width:400px;word-wrap: break-word;">{{ section2_task["configuration"] | replace("\n","<br>") }}</td>
            {% if section2_task["script"]=="Fix it" %} 	
            <td style="text-align:center">
            <button type="button" class="remediation" id={{ section2_task["task_number"] }} style="background:yellow;text-decoration:none;padding:10px;font-weight:bold">Fix it</button>
            </td>	
            {% else %}	
            <td>{{ section2_task["script"] }}</td>	
            {% endif %}  
        </tr>
        {% endfor %}
        <tr style="background:#fbfcae">
            <th colspan="5">{{ section3 }}</th>
        </tr>
        <tr style="background:#85eddf">
            <td style="text-align:center">Task number</td>
            <td style="text-align:center">Description</td>
            <td style="text-align:center">Task status</td>
            <td style="text-align:center">Your configuration</td>
            <td style="text-align:center">Hardening</td>
        </tr>
        {% for section3_task in section3_tasks %}
        <tr>
            <td>
                {{ section3_task["task_number"] }}
            </td>
            <td style="max-width:500px;word-wrap: break-word;">
                {{ section3_task["task_description"] }}
            </td>
            {% if section3_task["task_status"]=="PASSED" %}  
            <td style="background: #c0ebc6; text-align: center;">
            {% elif section3_task["task_status"]=="FAILED" %}
            <td style="background: #ebcfc0; text-align: center;">
             {% else %}
            <td style="background: #f6f7d2; text-align: center;">
            {% endif %}    
                {{ section3_task["task_status"] }}
            </td>
            <td style="max-width:400px;word-wrap: break-word;">{{ section3_task["configuration"] | replace("\n","<br>") }}</td>
            {% if section3_task["script"]=="Fix it" %} 	
            <td style="text-align:center">
            <button type="button" class="remediation" id={{ section3_task["task_number"] }} style="background:yellow;text-decoration:none;padding:10px;font-weight:bold">Fix it</button>
            </td>	
            {% else %}	
            <td>{{ section3_task["script"] }}</td>	
            {% endif %}  
        </tr>
        {% endfor %}
    </table>
</body>
<script>
$(function () {
    let tasks = []; 

    $(document).ready(function () {
        $(".remediation").on("click",function(event){ 
            if(tasks.indexOf(event.target.id) != -1){ 
                return; 
            } 
            tasks.push(event.target.id); 
        });

        $("#worker_result").on("click",function(e){ 
            if (e.target !== e.currentTarget) return;
            e.preventDefault();
            window.location = '{{ "{{url_for('bench.result', name='worker')}}" }}'
        });
    
        $("#submit_task").on('click', function (e) {
            if (e.target !== e.currentTarget) return;
            e.preventDefault();
            var clickElementId = e.target.id;
            $.ajax({
                type: 'POST',
                url: '{{ "{{url_for('harden.harden_option')}}" }}',
                headers: {
                    'Content-Type': 'application/json',
                },
                data: JSON.stringify(tasks),
                success: (response) => {
                    console.log(response);
                },
                error: function (xhr, errmsg, err) {
                    console.error(errmsg);
                }
            });
        })

        $("#submit_run").on("click",function(e){ 
            if (e.target !== e.currentTarget) return;
            e.preventDefault();
            var clickElementId = e.target.id;
            window.location = '{{ "{{url_for('harden.run_harden')}}" }}';
        })
    });

});
</script>

</html>