{{ "{% extends 'result_base.html' %}" }}

{{ "{% block score %}" }} {{ passed_tasks_count }}/{{ section1_tasks|length + section2_tasks|length + section3_tasks|length + section4_tasks|length  + section5_tasks|length }} {{ "{% endblock %}" }}

{{ "{% block content %}" }}
    <table border="1" cellpadding="10" style="margin-left:auto;margin-right:auto">
        <tr style="background:#fbfcae">
            <th colspan="5">{{ section3 }}</th>
        </tr>
        <tr style="background:#85eddf">
            <td style="text-align:center">Task number</td>
            <td style="text-align:center">Description</td>
            <td style="text-align:center">Task status</td>
            <td style="text-align:center">Your configuration</td>
            <td style="text-align:center">Hardening</td>
        </tr>
        {% for section3_task in section3_tasks %}
        <tr>
            <td>
                {{ section3_task["task_number"] }}
            </td>
            <td style="max-width:500px;word-wrap: break-word;">
                {{ section3_task["task_description"] }}
            </td>
            {% if section3_task["task_status"]=="PASSED" %}  
            <td style="background: #c0ebc6; text-align: center;">
            {% elif section3_task["task_status"]=="FAILED" %}
            <td style="background: #ebcfc0; text-align: center;">
             {% else %}
            <td style="background: #f6f7d2; text-align: center;">
            {% endif %}    
                {{ section3_task["task_status"] }}
            </td>
            <td style="max-width:400px;word-wrap: break-word;">{{ section3_task["configuration"] | replace("\n","<br>") }}</td>
            {% if section3_task["script"]=="Fix it" %} 	
            <td style="text-align:center">
            <button type="button" class="remediation" id={{ section3_task["task_number"] }} style="background:yellow;text-decoration:none;padding:10px;font-weight:bold">Fix it</button>
            </td>	
            {% else %}	
            <td>{{ section3_task["script"] }}</td>	
            {% endif %}  
        </tr>
        {% endfor %}
        <tr style="background:#fbfcae">
            <th colspan="5">{{ section4 }}</th>
        </tr>
        <tr style="background:#85eddf">
            <td style="text-align:center">Task number</td>
            <td style="text-align:center">Description</td>
            <td style="text-align:center">Task status</td>
            <td style="text-align:center">Your configuration</td>
            <td style="text-align:center">Hardening</td>
        </tr>
        {% for section4_task in section4_tasks %}
        <tr>
            <td>
                {{ section4_task["task_number"] }}
            </td>
            <td style="max-width:500px;word-wrap: break-word;">
                {{ section4_task["task_description"] }}
            </td>
            {% if section4_task["task_status"]=="PASSED" %}  
            <td style="background: #c0ebc6; text-align: center;">
            {% elif section4_task["task_status"]=="FAILED" %}
            <td style="background: #ebcfc0; text-align: center;">
             {% else %}
            <td style="background: #f6f7d2; text-align: center;">
            {% endif %}    
                {{ section4_task["task_status"] }}
            </td>
            <td style="max-width:400px;word-wrap: break-word;">{{ section4_task["configuration"] | replace("\n","<br>") }}</td>
            {% if section4_task["script"]=="Fix it" %} 	
            <td style="text-align:center">
            <button type="button" class="remediation" id={{ section4_task["task_number"] }} style="background:yellow;text-decoration:none;padding:10px;font-weight:bold">Fix it</button>
            </td>	
            {% else %}	
            <td>{{ section4_task["script"] }}</td>	
            {% endif %}  
        </tr>
        {% endfor %}
    </table>
{{ "{% endblock %}" }}